<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :registration %>
    <%= form.text_field :registration %>
  </div>

  <div class="field">
    <%= form.label :mileage %>
    <%= form.number_field :mileage %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="field">
    <%= form.label :parking_location %>
    <%= form.text_field :parking_location %>
  </div>

  <div class="field">
    <%= form.label :policy_start %>
    <%= form.date_select :policy_start %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
